<!-- views/profile.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Endeavor</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- added links to style sheets -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/endeavors" title="Home">Endeavor</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!-- {{#if user}}
                        <li>
                            <a href="/profile">{{user.username}}</a>
                        </li>  
                    {{/if}} -->
                    {{#if user.displayName}}
                        <li>
                            <a href="/profile">{{user.displayName}}</a>
                        </li> 
                    {{else}}
                        <li>
                            <a href="/profile">{{user.username}}</a>
                        </li> 
                    {{/if}}
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#experience">Experience</a>
                    </li>
                    <li>
                        <a href="#reviews">Reviews</a>
                    </li> 
                    <li>
                        <a href="/jobsearch">JobSearch</a>
                    </li>
                    {{#if user}}
                        <li>
                            <a href="/logout">Logout</a>
                        </li>  
                    {{/if}}
                    {{#unless user}}
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/signup">Signup</a>
                        </li>
                    {{/unless}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        {{#if user}}
            {{#owner}}
                <a class="btn btn-default btn-lg preferences-btn" href="/new/message/{{../user.id}}/{{this.id}}" alt="">Send A Message</a>
            {{/owner}} 
        {{/if}}
        {{#unless user}}
            {{#owner}}
                <a class="btn btn-default btn-lg preferences-btn" href="/new/message/0/{{this.id}}" alt="">Send A Message</a>
            {{/owner}}
        {{/unless}}

        <!-- scroll bar for notifications -->
        <a class="news-banner hide" href="/notifications/{{user.id}}/{{user.username}}">      
            <div class="scroll-left"></div>
        </a>

        <!-- /.container -->
    </nav>


    <!-- Header -->
    <div class="intro-replace-profile">
        {{#owner}}
        {{#if this.background}}
            <img class="intro-header-profile" src="{{this.background}}">
        {{/if}}
        {{#unless this.background}}
            <img class="intro-header-profile" src="http://www.medicalrecoveryservices.org/wp-content/uploads/banner-background1.jpg">
        {{/unless}}
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>{{this.displayName}}</h1>
                        <h3>{{this.displaySentence}}</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
        {{/owner}}
    </div>
    <!-- /.intro-header -->

    <!-- Modal for adding new jobs to DB. Posts to endeavor_controller.js -->
    {{#if success}}
      <div class="modal show" id="messageModal" role="dialog">
    {{else}}
      <div class="modal hide" id="messageModal" role="dialog">
    {{/if}}
        <div class="modal-dialog">
        
          <!-- Modal content inputs populated from script.js-->
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close message-close">&times;</button>
              <!-- <a id="closeSuccess1" href="/preferences" class="close">&times;</a> -->
              {{#owner}}
                {{#if displayName}}
                    <h4 class="modal-title">Communicate with {{this.displayName}}</h4>
                {{else}}
                    <h4 class="modal-title">Communicate with {{this.username}}</h4>
                {{/if}}
              {{/owner}}
            </div>
            <div class="modal-body">
              <form action="/send/new/message" method="POST">
                <div class="form-group">
                    <label for="pm_subject">Subject</label>
                    <input type="text" id="pm_subject" class="form-control" name="pm_subject" placeholder="Subject..." required>
                </div>
                <div class="form-group">
                    <label for="pm_message">Message</label>
                    <textarea type="text" id="pm_message" class="form-control" name="pm_message" rows="10" placeholder="Your message here..." required></textarea>
                </div>
                <!-- <input type="hidden" name="edit_jobUserID" value="{{user.id}}"> -->
                {{#user}}
                    <input type="hidden" name="pm_sender" value="{{this.username}}">
                {{/user}}
                {{#owner}}
                    <input type="hidden" name="pm_receiver" value="{{this.username}}">
                    <input type="hidden" name="owner" value="{{this.id}}">
                {{/owner}}
                <input type="hidden" name="parent" value="x">
                <button class="btn btn-warning btn-lg" type="submit">Send Message</button>
              </form>
            </div>
            <div class="modal-footer">
                <!-- <label>Don't have an account? Create one for free.</label> -->
            </div>
          </div>
          
        </div>
      </div>

    <!-- Page Content -->

    <!-- begin order up wrapper -->
    <a name="jobs area"></a>
        <div class="content-section-b">

            <div class="container">

                {{#if jobs}}

                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                    {{#owner}}
                        {{#if this.displayName}}
                            <h2 class="section-heading">Jobs Posted By<br>{{this.displayName}}</h2>
                        {{else}}
                            <h2 class="section-heading">Jobs Posted By<br>{{this.username}}</h2>
                        {{/if}}
                        <p class="lead">Feel free to submit bids or apply for any jobs that you feel qualified for below.</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        {{#if this.avatar}}
                            <img class="img-responsive pref-pic" src="{{this.avatar}}" alt="User Profile Picture">
                        {{else}}
                            <img class="img-responsive pref-pic" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="Default Profile Picture">
                        {{/if}}
                    {{/owner}}
                    </div>
                </div>
                {{else}}
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        {{#if owner.displayName}}
                            <h2 class="section-heading">{{owner.displayName}}<br>Is not currently hiring for any jobs.</h2>
                        {{else}}
                            <h2 class="section-heading">{{owner.username}}<br>Is not currently hiring for any jobs.</h2>
                        {{/if}}
                        <p class="lead">Check back later.</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        {{#if owner.avatar}}
                            <img class="img-responsive pref-pic" src="{{owner.avatar}}" alt="User Profile Picture">
                        {{else}}
                            <img class="img-responsive pref-pic" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="Default Profile Picture">
                        {{/if}}
                    </div>
                </div>

                {{/if}}
                
                <!-- loops through each job -->
                {{#each jobs}}
                <!-- checks if job has been completed -->
                {{#unless this.completed}}

                <div class="row">

                    <div class="job-box-container">  
                        <a class="job-link" href="/viewJob/{{this.jobID}}/{{this.userID}}">
                            {{#if this.bidaccepted}}
                                {{#if this.bidding}}
                                    <img class="job-accepted-image" src="/assets/images/bid_accepted.png">
                                {{else}}
                                    <img class="job-hired-image" src="/assets/images/hired.png">
                                {{/if}}
                            {{/if}}
                            {{#if this.bidding}}
                                <img class="job-bid-image" src="/assets/images/bid_btn.png">
                            {{else}}
                                <img class="job-bid-image" src="/assets/images/fixed_btn.png">  
                            {{/if}}
                            <div class="job-box-small">
                                <div class="job-title-box">
                                        <h2 class="job-title">{{this.title}}</h2>
                                </div>
                                <img class="job-box-image1" src="{{this.image}}">
                                {{#if this.bidding}}
                                    <img class="job-view-image" src="/assets/images/view_bid_btn.png">
                                {{else}}
                                    <img class="job-view-image" src="/assets/images/view_fixed_btn.png">  
                                {{/if}}
                                <p class="job-title-desc">{{trimString this.description}}</p>

                                <div class="job-box-footer">
                                    <a class="btn btn-warning btn-lg job-box-category" href="/jobCategory/{{this.category}}">{{this.category}}</a>
                                    <a class="btn btn-warning btn-lg job-box-category" href="/jobSubCategory/{{this.subcategory}}">{{this.subcategory}}</a>
                                    <h2 class="job-box-price">{{this.budget}}</h2>
                                </div>   
                            </div>          
                        </a>
                    </div>
            
                </div>
                {{/unless}}
                {{/each}}

                {{#each jobs}}
                {{#if this.completed}}
                    <div class="row">

                    <div class="job-box-container">  
                        <a class="job-link" href="/viewJob/{{this.jobID}}/{{this.userID}}">
                            <img class="job-completed-image" src="/assets/images/completed.png"> 
                            {{#if this.bidding}}
                                <img class="job-bid-image" src="/assets/images/bid_btn.png">
                            {{else}}
                                <img class="job-bid-image" src="/assets/images/fixed_btn.png">  
                            {{/if}}
                            <div class="job-box-small">
                                <div class="job-title-box">
                                        <h2 class="job-title">{{this.title}}</h2>
                                </div>
                                <img class="job-box-image1" src="{{this.image}}">
                                {{#if this.bidding}}
                                    <img class="job-view-image" src="/assets/images/view_bid_btn.png">
                                {{else}}
                                    <img class="job-view-image" src="/assets/images/view_fixed_btn.png">  
                                {{/if}}
                                <p class="job-title-desc">{{trimString this.description}}</p>

                                <div class="job-box-footer">
                                    <a class="btn btn-warning btn-lg job-box-category" href="/jobCategory/{{this.category}}">{{this.category}}</a>
                                    <a class="btn btn-warning btn-lg job-box-category" href="/jobSubCategory/{{this.subcategory}}">{{this.subcategory}}</a>
                                    <h2 class="job-box-price">{{this.budget}}</h2>
                                </div>   
                            </div>          
                        </a>
                    </div>
            
                </div>
                {{/if}}
                {{/each}}

            </div>
            <!-- /.container -->

        </div>


  <a name="about"></a>
    <div class="content-section-a">

    {{#owner}}
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                        {{#if displayName}}
                            <h2 class="section-heading">About<br>{{this.displayName}}</h2>
                        {{else}}
                            <h2 class="section-heading">About<br>{{this.username}}</h2>
                        {{/if}}
                        {{#if summary}}
                            <p class="lead summary-about">{{this.summary}}</p>
                        {{else}}
                            <p class="lead summary-about">Check back later for more info.</p>
                        {{/if}}
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    {{#if this.avatar}}
                        <img class="img-responsive pref-pic" src="{{this.avatar}}" alt="User Profile Picture">
                    {{else}}
                        <img class="img-responsive pref-pic" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="Default Profile Picture">
                    {{/if}}
                </div>
            </div>

        </div>

        <!-- /.container -->
    {{/owner}}

    </div>
    <!-- /.content-section-a -->

    <a name="experience"></a>
    <div class="content-section-b">

        <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        {{#owner}}
                            {{#if displayName}}
                                <h2 class="section-heading">Professional Experience<br>{{this.displayName}}</h2>
                            {{else}}
                                <h2 class="section-heading">Professional Experience<br>{{this.username}}</h2>
                            {{/if}}
                        {{/owner}}
                        <p class="lead">Detailed history of professional and personal accomplishments.</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                            <img class="img-responsive" src="http://www.kawman.com/images/company_profile.jpg" alt="Resume Section Image">
                    </div>
                </div>

            <!-- loops through each job -->
            {{#each resumes}}

                <br><br>
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading resume-title">{{this.company}}</h2>
                        <p class="lead resume-position">{{this.position}}</p>
                        <p class="lead resume-right">{{this.location}}</p>
                        <p class="lead resume-description">{{this.description}}</p>
                        <p class="lead resume-right resume-date">{{prettifyDate this.startdate}} - {{prettifyDate this.enddate}}</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        {{#if this.hasimage}}
                            <img class="img-responsive pref-pic" src="{{this.image}}" alt="Custom Background Banner">
                        {{else}}
                            <img class="img-responsive pref-pic" src="https://upload.wikimedia.org/wikipedia/commons/5/59/Logo-Logo.svg" alt="No Logo Image">
                        {{/if}}
                    </div>
                </div>

            {{/each}}

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    {{#owner}}
                        {{#if this.displayName}}
                            <h2 class="section-heading">{{this.displayName}}&#39;s Overall Rating and<br>Professional Reviews</h2>
                        {{else}}
                            <h2 class="section-heading">{{this.username}} Overall Rating and<br>
                            Professional Reviews</h2>
                        {{/if}}
                    {{/owner}}
                    <p class="lead">Reviews displayed in this section are from actual jobs and projects completed here on Endeavor.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive stars-cover" src="/assets/images/all_5_stars.png" alt="5 Stars Raing Picture">
                    <span id="rating-back"></span>
                </div>
            </div>

            {{#each feedback}}

                <div class="row">
  
                    <div class="job-box-head">
                            
                        </div>
                        <div class="job-container">      
                            <div class="review-box">
                                <div class="review-title-box">
                                        <h2 class="review-title">Review for {{this.title}}</h2>
                                </div>

                                <img id="star-rating" class="job-view-image" src="{{starRating this.rating}}">

                                    <a href="/public/profile/{{this.employerID}}">
                                        {{#if avatar}}
                                            <img class="img-responsive user-thumbnail" src="{{this.avatar}}" alt="">
                                        {{else}}
                                            <img class="img-responsive user-thumbnail" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="">
                                        {{/if}}
                                    </a>
                                
                                <p class="job-title-desc">{{this.review}}</p>
                                <div class="review-footer">
                                    <a class="btn btn-warning btn-lg job-box-category" href="/viewJob/{{this.jobID}}/{{this.employerID}}">View Job</a>
                                </div>
                                   
                            </div>
                            
                        </div>

                </div>

                {{/each}}

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

  <a name="reviews"></a>
    {{#owner}}
        {{#if this.background}}
            <div class="banner2" style="background: url({{this.background}}) no-repeat center center;">
        {{/if}}
        {{#unless this.background}}
            <div class="banner2" style="background: url(http://www.medicalrecoveryservices.org/wp-content/uploads/banner-background1.jpg) no-repeat center center;">
        {{/unless}}
    {{/owner}}

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    {{#owner}}
                        {{#if this.displayName}}
                            <h2>{{this.displayName}}</h2>
                        {{else}}
                            <h2>{{this.username}}</h2>
                        {{/if}}
                    {{/owner}}
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner2-social-buttons">
                        {{#if user}}
                            <li>
                                <a href="/logout" class="btn btn-default btn-lg"><span class="network-name">Logout</span></a>
                            </li>  
                        {{/if}}
                        {{#unless user}}
                            <li>
                                <a href="/login" class="btn btn-default btn-lg"><span class="network-name">Login</span></a>
                            </li>
                            <li>
                                <a href="/signup" class="btn btn-default btn-lg"><span class="network-name">Signup</span></a>
                            </li>
                        {{/unless}}
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/endeavors">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#experience">Experience</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#reviews">Reviews</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Endeavor 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/assets/scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/scripts/bootstrap.min.js"></script>

    <!-- Endeavor Script -->
    <script src="/assets/scripts/script.js"></script>

    <script type="text/javascript">
        $(document).on('ready', function(){

            // Initialize possible and actual feedback score at 0
            var possFeedback = 0;
            var actFeedback = 0;
            // Handlebars (feedback) is sent to the JSON helper and returned 
            var feedObj = {{{json feedback}}};

            // Loop through helper response
            for(i=0; i<feedObj.length; i++) {
                // For each feedback item increase possFeedback by 5
                possFeedback += 5;
                // For each feedback item increase actFeedback by rating
                actFeedback += feedObj[i].rating;
                //console.log(feedObj[i].rating);    
            }

            console.log("Possible Feedback Score: ", possFeedback);
            console.log("Actual Feedback Score: ", actFeedback);

            // Calls actualRating func and passes poss and actFeedback as parameters
            actualRating(possFeedback, actFeedback);

            // If feedback is greater than 0
            // Calculate the width of #rating-back css background color
            function actualRating(poss, act) {
                if(actFeedback > 0){
                    $('#rating-back').animate({
                        'width': (455 * act)/poss
                    }, 1000);   
                }
            };

            {{#if user}}
            function getNotifications() {

                var slug = {{{json user.id}}};
                console.log(slug);
                var queryURL = "/ajax/notifications/" + slug;

                //ajax makes request and returns the response
                $.ajax({url: queryURL, method: 'GET'}).done(function(response) {

                  var notifyText;

                  for(var i=0; i < response.length; i++){

                    console.log(response[i]);

                    notifyText = $('<span>'); //creates a span element
                    notifyText.text(response[i].notification); //adds text from DB response
                    notifyText.addClass('spacing'); //added class to span

                    $('.scroll-left').append(notifyText);//appends each notification to the marquee

                  }

                  if (response) {
                    $('.news-banner').removeClass('hide');//shows the marquee if there are notifications
                  }
                    
                }); 

            }

            // runs the getNotifications function as soons as the script is executed
            getNotifications();
            {{/if}}

            //close button for message modal
            $(document).on('click', '.message-close', function(){
                $('#messageModal').removeClass('show').addClass('hide');
            });

        });

    </script>

</body>

</html>

